automation/roles/external
vendor/
.env

# Code coverage
*.coverprofile

docs/api.html

resources/import/*
!resources/import/stocks
!resources/import/*/.gitkeep

resources/postgresql/data/

resources/dev/import/*
!resources/dev/import/.gitkeep
