automation/roles/external
vendor/
.env.dev
.env.prod

# Code coverage
*.coverprofile

docs/api.html

resources/import/accounts/
resources/import/dividends/
resources/import/transfers/
resources/import/wallets/

!resources/import/*/.gitkeep

resources/postgresql/data/

resources/dev/import/
!resources/dev/import/*/.gitkeep
